$aidspan-orange: #f46517;
$aidspan-blue: #00adef;
$aidspan-grey: #414346;
$light-grey: #e5e5e5;
$lighBlue: #f2fbff;
@media only screen and (min-width: 600px) {
  /* For mobile phones: */
  .wedo {
    height: auto;
    width: auto;
    margin: 5px;
  }
  #current-article {
    max-width: 340px;
  }
  #articleSection {
    margin-top: 30px;
  }
  #abouttext .caption {
    color: $aidspan-orange;
    margin-top: 80%;
  }
  #tabcontainer .desc {
    font-size: 14px;
    line-height: 16px;
  }
}