$aidspan-orange: #F46517;
$aidspan-blue: #00adef;
$aidspan-grey: #414346;
$light-grey: #E5E5E5;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  background-color: $light-grey;
  margin: 0;
}

#body-wraper {
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto;
  font-size: 14px;
  min-height: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #body-wraper {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
  }
  .wedo {
    height: auto;
    width: auto;
    margin: 5px;
  }
  #current-article{
    max-width: 340px;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  #app {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .wedo {
    position: relative;
    width: 432px;
    height: 304px;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(43, 183, 255, 0.46);
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* main manu navigation bar */
#navigation-menu-pc {
  background: #00c2fd;
  text-align: center;
}
#navigation-menu-pc ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

#navigation-menu-pc ul li {
  margin: 4px;
  padding: 15px;
}

#current-article {
  background: #ffffff;
  box-shadow: 3px 7px 8px #2BB7FF;
  border-radius: 14px;
  margin: 2px;
  position: relative;
  width: 400px;
}

#current-article .article_date {
  font-weight: lighter;
  color: $aidspan-orange;
}

#current-article .title {
  font-size: 12px;
  color: $aidspan-blue;
}


#pubsContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
}

#subscribe-section {
 border-top: solid 3px rgb(23, 170, 244);
 padding-bottom:20px ;
}

#subscribe-section .title {
  display: flex;
  justify-content: center;
  text-align: center;
}

#subscribe-section .content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#apw-card {
  background-image: url("~@/assets/images/common/apwbg.svg");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 3px 4px 4px rgba(63, 192, 252, 0.29);
}
#apw-card:hover {
  box-shadow: 3px 4px 4px rgba(252, 173, 63, 0.29);
}

#footer {
  background-color: $aidspan-grey;
}